@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: "Orbitron", sans-serif;
}

body {
    width: 100%;
    background-color: #ececec;
}

header {
    width: 100%;
    height: 80px;
    background-color: #210068;

    nav {
        width: 1280px;
        height: 80px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            color: #fafafa;
            font-size: 28px;
            font-family: "Orbitron";
            font-weight: 700;
        }

        .menu {
            display: flex;
            gap: 16px;

            a {
                font-family: "Orbitron";
                color: #fafafa;
                text-decoration: none;

                &:hover {
                    color: gold;
                }
            }
        }
    }
}

main {
    width: 100%;
}

#hero {
    width: 100%;
    height: 600px;
    background-color: #000000;
    position: relative;

    .imagemHero {
        width: 100%;
        height: 600px;
        background-image: url(../assets/hero-bg.webp);
        background-size: cover;
        background-position: center;
        mask-image: url(../assets/mask.gif);
        mask-size: cover;
        mask-position: center;
    }

    .textoHero {
        width: 600px;
        height: 300px;
        background-color: #fafafa40;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 16px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -150px;
        margin-left: -300px;
        padding: 32px;
        border-radius: 16px;
        backdrop-filter: blur(4px);

        h1 {
            font-size: 36px;
            font-weight: bold;
            text-align: center;
            color: #fafafa;
        }

        p {
            text-align: center;
            font-size: 22px;
            color: #fafafa;
            font-weight: 300;
            text-shadow: 0px 0px 4px #464646;
        }
    }
}

#recursos {
    h2 {}

    ul {
        li {
            .featIMG {}

            .desc {}
        }
    }
}

#provaSocial {
    h2 {}

    ul {
        li {
            .foto {}

            .depo {
                h4 {}

                p {}
            }
        }
    }
}

#cta {
    .container {
        .ctaTexto {
            h2 {}

            p {}
        }

        .cta {
            input {}
        }
    }
}

.btnCTA {}

footer {
    p {}
}